<!-- demoapp/templates/admin_registration.html -->

{% extends 'forms/base.html' %}

{% block content %}
<div class="vh100 bg-theme">
  <div class="container h-100 d-flex justify-content-center align-items-center">
      <div>
        <h2 class="text-white text-center">Add Course</h2>
        <form method="post" action="{% url 'demoapp:assignstudent'%}">
            {% csrf_token %}
            {{form}}
            <input class="mt-3 bg-theme text-white" type="submit" value="Submit">
        </form>
      </div>
  </div>
</div>


{% endblock %}





