{% extends 'base.html'%}
{% block content %}
<!-- <link rel="stylesheet" href="./style.css"> -->
<div class=" bg-theme text-white" style="min-height: 100vh;">
    {% include 'navbar.html'%}
    <div class="container h-100 d-flex  ">
        {% include 'sidebar.html'%}
        <div class="container mx-3 w-100">
            <h3 class="text-left text-light mt-5 mb-4"> Holiday's 2024</h3>
            <div class="allstudent_wrapper">
                <table class="allstudent">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Event</th>
                            <th>Month</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Republic Day</td>
                            <td>January</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        
    </div>
</div>
{% endblock %}


