{% extends 'registration/login.html' %}
<!-- demoapp/templates/student_login.html -->

{% block content %}
<div class="vh100 bg-theme">
  <div class="container h-100 d-flex justify-content-center align-items-center">
      <div>
        <h2 class="text-white text-center">Login as Student</h2>
        <form method="post" action="{% url 'demoapp:student_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Login</button>
          <p>Dont have a account <a href="{% url 'demoapp:student_registration'%}">Register as Student</a></p>
        </form>
      </div>
  </div>
</div>

{% endblock %}
